*{
    padding: 0px;
    margin: 0px;
}
.box{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 1136px;
    background-image: url("../image/bg.png");
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
}

.app{
    position: absolute;
    width: 100%;
    top: 220px;
    height:500px;
    background: url("../image/icon-1.png") no-repeat ;
    background-size: 100% 100%;
}
.buttons{
    display: block;
    position: absolute;
    left: 10px;
    right: 10px;
    height:160px;
    bottom: 210px;
    border: 0px solid red;
}
.buttons .down{
    position: absolute;
    display: block;
    height: 100%;
    top:0px;
    width: auto;
    text-decoration: none;
    width: 48%;
}
.buttons .ios{
    left: 0px;
    background:url("../image/ios.png") no-repeat;
    background-size:100% 100%;
}
.buttons .and{
    right: 0px;
    background:url("../image/and.png") no-repeat;
    background-size:100% 100%;
}

@media screen and (device-width:480px) {
    /*CSS for high-density screens*/
    .box{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 875px;
        background-image: url("../image/bg.png");
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
    }
    .app{
        position: absolute;
        width: 100%;
        top: 165px;
        height:475px;
        background: url("../image/icon-1.png") no-repeat ;
        background-size: 100% 100%;
    }
    .buttons{
        display: block;
        position: absolute;
        left: 10px;
        right: 10px;
        height:120px;
        bottom: 158px;
        border: 0px solid red;
    }
}
@media screen and (device-width:320px) {
    /*CSS for high-density screens*/
    .box{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 568px;
        background-image: url("../image/bg.png");
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
    }
    .app{
        position: absolute;
        width: 100%;
        top: 110px;
        height:250px;
        background: url("../image/icon-1.png") no-repeat ;
        background-size: 100% 100%;
    }
    .buttons{
        display: block;
        position: absolute;
        left: 10px;
        right: 10px;
        height:80px;
        bottom: 105px;
        border: 0px solid red;
    }
}
@media screen and (device-width:360px) {
    /*CSS for high-density screens*/
    .box{
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 693px;
        background-image: url("../image/bg.png");
        background-size: 100% 100%;
        background-position: left top;
        background-repeat: no-repeat;
    }
    .app{
        position: absolute;
        width: 100%;
        top: 124px;
        height:282px;
        background: url("../image/icon-1.png") no-repeat ;
        background-size: 100% 100%;
    }
    .buttons{
        display: block;
        position: absolute;
        left: 10px;
        right: 10px;
        height:90px;
        bottom: 120px;
        border: 0px solid red;
    }
}
